:root {
  --color-lightest: #c0e6f7;
  --color-middle: #8ecae6;
  --color-orange: #ffb703;
  --color-orange_darker: #e4a403;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightest);
  margin: 12rem 0 12rem 0;
}

.app {
  min-height: 37vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin: 0 2rem 4rem 2rem;
}

.app h1 {
  /* height: 6rem; */
  font-size: 4.8rem;
  text-align: center;
  /* margin-bottom: 6rem; */
}

.app h2 {
  height: 6rem;
  font-size: 2.8rem;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: var(--color-orange);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  transition-property: background-color;
}

.btn:hover {
  background-color: var(--color-orange_darker);
}

.sidebar > div .btn {
  /* float: right; */
  /* margin-left: 5rem; */
}

form > .btn {
  margin-top: 0.6rem;
  margin-right: 0 !important;
  grid-column: 2;
}

.btn-addFriend {
  margin-left: 7.4rem !important;
}

.btn-delete {
  color: rgb(255, 174, 174);
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: var(--color-lightest);
  transition: 0.3s;
  /* margin-left: 2rem; */
  margin-right: 0.8rem;
}

.btn-welcome {
  padding: 2rem 4rem;
  margin: 0 !important;
  font-size: 2rem;
}

.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  justify-content: center;
}

/* .friend-row {
  display: flex;
  flex-wrap: wrap;
} */

.friend-row {
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-template-rows: 1fr 1fr; */
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.2rem 7rem 7rem 9rem;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 8px;
  transition: 0.3s;
  /* margin-right: 2rem; */
}

.selected,
.sidebar li:hover {
  background-color: var(--color-middle);
}

.sidebar li img {
  width: 100%;
  border-radius: 50%;
}

.sidebar li h3 {
  font-size: 2.4rem;
}

.sidebar li p {
  font-size: 2.4rem;
  text-align: right;
}

.red,
.btn-delete:hover {
  color: red;
}

.green {
  color: green;
}

form {
  background-color: var(--color-middle);
  border-radius: 8px;

  font-size: 1.8rem;

  display: grid;
  align-items: center;
  gap: 1.2rem;
  width: 34.8rem;
  /* margin-left: 2.6rem; */
}

label {
  font-weight: bold;
}

input {
  font-family: inherit;
  color: inherit;

  padding: 0.7rem;
  font-size: 1.8rem;
  text-align: center;

  border: 1px solid var(--color-lightest);
  border-radius: 4px;
}

.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  padding: 1.2rem;
  margin-bottom: 0.8rem;
}

.result {
  display: grid;
  grid-template-columns: 8.4rem 7rem 4rem;

  font-size: 2.4rem;
  font-weight: bold;
  text-align: left;
  align-content: center;
  margin-left: 0.8rem;
}

/************************/
/**BELOW 44.5*16 = 712px (smaller tablets)**/
/************************/
@media (max-width: 44.5em) {
  .app {
    min-height: 37vh;
  }

  .btn {
    padding: 1.2rem 1.8rem;
    font-size: 1.6rem;
  }

  .btn-addFriend {
    margin-left: 2.4rem !important;
  }

  .sidebar ul {
    row-gap: 2.6rem;
  }

  .result {
    grid-row: 2;
    grid-column: 2;
    margin-left: 7rem;
  }

  .btn-welcome {
    padding: 2rem 4rem;
    font-size: 2rem;
    margin: 0 !important;
  }
}

/************************/
/**BELOW 35*16 = 560px (Phones)**/
/************************/
@media (max-width: 35em) {
  .sidebar > div .btn {
    /* float: right; */
    /* margin-left: 7rem; */
  }

  /* .sidebar li {
    column-gap: 1.2rem;
  } */
}

/************************/
/**BELOW 25*16 = 400px ( small Phones)**/
/************************/
@media (max-width: 25em) {
  .sidebar li {
    grid-template-columns: 4.2rem 6rem 6rem 9rem;
  }
}
