:root {
  --color-lightest: #c0e6f7;
  --color-middle: #8ecae6;
  --color-orange: #ffb703;
  --color-orange_darker: #e4a403;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-lightest);
}

.app {
  min-height: 37vh;
  display: grid;
  grid-template-columns: 40rem 15rem;
  column-gap: 3rem;
  align-items: start;
}

.app h1 {
  grid-column: span 2;
  height: 6rem;
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 6rem;
}

.app h2 {
  grid-column: span 2;
  height: 6rem;
  font-size: 2.8rem;
  text-align: center;
}

.btn {
  background-color: var(--color-orange);
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  transition-property: background-color;
}

.btn:hover {
  background-color: var(--color-orange_darker);
}

form > .btn {
  margin-top: 0.6rem;
  grid-column: 2;
}

.btn-delete {
  color: rgb(255, 174, 174);
  font-size: 2.4rem;
  font-weight: bold;
  border: none;
  background-color: var(--color-lightest);
  transition: 0.3s;
}

.btn-welcome {
  /* margin-right: 3rem !important; */
  padding: 1.8rem 2.7rem;
  font-size: 2.2rem;
}

.sidebar ul,
.result ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.sidebar .friend-row {
  display: grid;
  grid-template-columns: 24px auto;
  column-gap: 4px;
}

.sidebar li {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 4.2rem 1fr auto auto;
  align-items: center;
  column-gap: 1.6rem;
  padding: 1.2rem;
  border-radius: 8px;
  transition: 0.3s;
}

.result li {
  display: grid;
  grid-template-columns: 8rem auto 1.2rem;
  padding: 1.7rem;
  padding-left: 0;
}

.result span {
  font-size: 2.4rem;
  font-weight: bold;
  text-align: right;
}

.selected,
.sidebar li:hover {
  background-color: var(--color-middle);
}

.sidebar li img {
  width: 100%;
  border-radius: 50%;
}

.sidebar li h3,
.result li h3 {
  font-size: 2.4rem;
}

.sidebar li p,
.result li p {
  font-size: 2.4rem;
}

.result li p {
  text-align: right;
  font-weight: bold;
}

.sidebar > div .btn {
  float: right;
  margin-right: 1.2rem;
}

.red,
.btn-delete:hover {
  color: red;
}

.green {
  color: green;
}

form {
  background-color: var(--color-middle);
  border-radius: 8px;

  font-size: 1.8rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;
  margin-left: 22px;
}

label {
  font-weight: bold;
}

input {
  font-family: inherit;
  color: inherit;

  padding: 0.7rem;
  font-size: 1.8rem;
  text-align: center;

  border: 1px solid var(--color-lightest);
  border-radius: 4px;
}

.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  padding: 1.2rem;
  margin-bottom: 0.8rem;
}

.splitter {
  grid-column: 2;
  /* border: 2px solid var(--color-middle); */
  box-shadow: 0px 0px 40px 0px var(--color-middle);
}

.splitter-header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;
}

.result {
  grid-column: 2;
}
